<div class="container">
    <form #mform="ngForm" (ngSubmit)="add(mform)" class="form table-responsive">
        <table class="table table-striped table-bordered" style="font-family: Roboto">
            <thead>
                <tr>
                    <th><b>Movie Name</b></th>
                    <td><input [(ngModel)]="movie.name" name="name" /></td>
                </tr>
                <tr>
                    <th><b>Year</b></th>
                    <td><input [(ngModel)]="movie.year" name="year" /></td>
                </tr>                
            </thead>
            <tbody>
                <tr>
					<td><input type="submit" value="Add" class="btn btn-md btn-default" /> </td>
				</tr>
            </tbody>
        </table>
    </form>
</div>
<h3 class="text-center"> {{ response }} </h3>