<style type="text/css">
    #registration-step {
        width: 100%;
        background: url('assets/images/background-step.jpg')no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .register {
        background: #ffffffbc;
        border-radius: 5px;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
    }

    ul li {
        list-style-type: square;
        line-height: 1.6em;
        text-align: justify;
    }
</style>
<div class="container-fluid" id="registration-step">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-2">
            <div class="">
                <div class="card">
                    <div class="card-header">
                        <h4 class="h4-responsive text-center p-2">Eligibility Criteria</h4>
                    </div>
                    <div class="card-body">
                        <ul type="disc">
                            <li>Working women, who may be single, widowed, divorced, separated, married but whose
                                husband or immediate family does not reside in the same city/area. preference may be
                                given to women from disadvantaged sections of the society. There should be also
                                provision for reservation of seats for physically challenged beneficiaries</li>
                            <li>Women who are under training for job provided the total training period does not exceed
                                one year. This is only on the condition that there is vacancy available after
                                accommodating working women. The number of women under training for job should not
                                exceed 30% of the total capacity. </li>
                            <li>Girls up to the age of 18 years and boys up to the age of 5 years, accompanying working
                                mothers will be provided accommodation, with their mothers. Working mothers may also
                                avail of the services of the Day Care Centre, as provided under the scheme. </li>
                            <li>Working Women are entitled to hostel facilities provided their gross income does
                                not exceed Rs. 50,000/- consolidated (gross) per month in metropolitan cities, or Rs
                                35,000/- consolidated (gross) per month, in any other place. </li>
                        </ul>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-2">
            <div class="register">
                <form #mform="ngForm" (ngSubmit)="add(mform)" name="step-form" class="form table-responsive"
                    ngNativeValidate>
                    <h3 class="h3-responsive text-center p-3">STEP Registration</h3>
                    <p class="text-center red-text">All fields marked with * are mandatory</p>
                    <table class="table table-striped table-condensed">
                        <tbody class="md-form">
                            <tr>
                                <th> Name* </th>
                                <td>
                                    <input [(ngModel)]="registration.name" class="form-control" id="name" name="name"
                                        type="text" pattern="[a-zA-Z]*" autofocus="true" placeholder="Enter Your Name"
                                        title="Enter only alphabets" required />
                                </td>
                            </tr>
                            <tr>
                                <th> UserName* </th>
                                <td>
                                    <input [(ngModel)]="registration.username" class="form-control" name="username"
                                        id="username" type="text" pattern="[a-zA-Z]{1,15}"
                                        placeholder="Enter Your Username" title="Enter only alphabets" required />
                                </td>
                            </tr>
                            <tr>
                                <th> Password* </th>
                                <td>
                                    <input [(ngModel)]="registration.password" class="form-control" id="password"
                                        name="password" type="password" placeholder="Enter Your Password" required />
                                </td>
                            </tr>
                            <tr>
                                <th> ConfirmPassword* </th>
                                <td>
                                    <input [(ngModel)]="registration.confirmPassword" class="form-control"
                                        name="confirmPassword" id="confirmPassword" type="password"
                                        placeholder="Re-Enter Your Password" required />
                                    <span class="text-danger">{{array['password']}}</span>
                                </td>
                            </tr>
                            <tr>
                                <th> Mobile Number* </th>
                                <td>
                                    <input [(ngModel)]="registration.mobileNumber" class="form-control" type="text"
                                        id="mobileNumber" placeholder="Enter Your Mobile Number" name="mobileNumber"
                                        minlength="10" maxlength="10" (keypress)="keyPress($event)" required>
                                </td>
                            </tr>
                            <tr>
                                <th> Date Of Birth* </th>
                                <td>
                                    <input [(ngModel)]="registration.birthDate" class="form-control" type="date"
                                        id="birthDate" placeholder="Enter Date Of Birth" name="birthDate" required>
                                </td>
                            </tr>
                            <tr>
                                <th> Designation* </th>
                                <td>
                                    <input [(ngModel)]="registration.designation" class="form-control" id="designation"
                                        type="text" placeholder="Enter Your Designation" name="designation" required>
                                </td>
                            </tr>
                            <tr>
                                <th> Salary* </th>
                                <td>
                                    <input [(ngModel)]="registration.salary" class="form-control" type="number"
                                        id="salary" min="0" (keypress)="keyPress($event)"
                                        placeholder="Enter Current Salary" name="salary" required>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td><input type="submit" value="Submit" class="btn btn-md btn-success" /></td>
                                <td>
                                    <div class="container signin">
                                        <p class="lead text-center">Already have an account? <a class="nav-link"
                                                [routerLink]="['/step/login']" class="text-primary">Log in</a>.</p>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<h3 class='text-center text-success p-2'> {{ response }} </h3>