<div class="container-fluid" id="registration-step">
    <h2 class="h2-responsive text-center p-3">Funding Norms by Government</h2>
    <div class="p-3" id="content">
        <p>
            The programme will be implemented in the sectors listed above. As the programme is to
            cover the various sectors different from each, the cost of the project is bound to vary from project to
            project. It has been, therefore, decided that the NABARD approved norms will be made applicable to
            the project to be sanctioned under STEP scheme.
        </p>
        <p>
            In the areas/in the cases of the projects where NABARD Norms are not available the advice of the concerned
            Technical Ministry will be obtained
            before a project is sanctioned with the approval of the project Sanctioning Committee. However, it will be
            ensured that per capita cost does not exceed <b>Rs. 16,000</b>.
        </p>
        <p>
            As per practice, the technical
            feasibility and item-wise cost of the project will be ascertained in consultation with the concerned
            Technical Ministry/Department before a project is sanctioned with the approval of the Project
            Sanctioning Committee.
        </p>
        <p>
            However, the services of other agencies/ institutes may be also availed of for
            pre-appraisal of the project proposals or technical advice, if required. In sanctioning projects, it will
            be ensured that the tapering Budget is prepared so that the project becomes sustainable of its own on
            the completion of the term of a project.
            Sanctions of Grant provided by Government are:
        </p>
        <ul type="disc">
            <li>Sanction released under STEP Scheme for the year 2015-16 - <a
                    href="http://wcd.nic.in/sites/default/files/stepdtd2014_15_0.pdf">Download</a></li>
            <li>Sanction released under STEP Scheme for the year 2014-15 - <a
                    href="http://wcd.nic.in/sites/default/files/stepdtd2014_15_2.pdf">Download</a></li>
            <li>Sanction released under STEP Scheme for the year 2013-14 - <a
                    href="http://wcd.nic.in/sites/default/files/stepdtd22072013.pdf">Download</a></li>
            <li>Sanction released under STEP Scheme for the year 2012-13 - <a
                    href="http://wcd.nic.in/sites/default/files/stepsanctiondtd06122012.pdf">Download</a></li>
        </ul>
    </div>
</div>