<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#"><strong>ADMIN</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
            aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/admin/ngo']" title="NGO's">NGO's</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/admin/trainees']" title="Trainees">Trainees</a>
                </li>
            </ul>
            <form class="form-inline">
                
            </form>
        </div>
    </div>
</nav>
<div class="">
    <router-outlet></router-outlet>
</div>
<!-- Navbar -->