<h2 class="h2-responsive text-center p-3">Welcome to Ministry of Women And Child Development</h2>
<p class="p-2 text-center" id="head-content">
  "The Ministry of Women and Child Development, a branch of the Government of India, is the apex body for formulation
  and
  administration of the rules and regulations and laws relating to women and child development in India."
</p>
<div class="container-fluid">
  <div class="row p-3">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="card">

        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="assets/images/women-empowerment-1.jpg" alt="STEP">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body elegant-color white-text rounded-bottom">

          <!-- Social shares button -->
          <a class="activator waves-effect mr-4"><i class="fas fa-share-alt white-text"></i></a>
          <!-- Title -->
          <h4 class="card-title">STEP</h4>
          <hr class="hr-light">
          <!-- Text -->
          <p class="card-text white-text mb-4">The Ministry has been administering ‘Support to Training and Employment
            Programme for Women (STEP) Scheme’ since 1986-87 as a ‘Central Sector Scheme’. The STEP Scheme aims to
            provide
            skills that give employability to women and to provide competencies and skill that enable women to become
            self-employed/entrepreneurs. </p>
          <!-- Link -->
          <a [routerLink]="['/step']" class="btn btn-md btn-white">Read More</a>

        </div>

      </div>
      <!-- Card Dark -->
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="card">

        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="assets/images/ngo.jpg" alt="NGO">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body elegant-color white-text rounded-bottom">

          <!-- Social shares button -->
          <a class="activator waves-effect mr-4"><i class="fas fa-share-alt white-text"></i></a>
          <!-- Title -->
          <h4 class="card-title">NGO</h4>
          <hr class="hr-light">
          <!-- Text -->
          <p class="card-text white-text mb-4">A non-governmental organization (NGO) is a non-profit, citizen-based
            group
            that functions independently of government. As non-profit organizations, NGOs rely on a variety of sources
            for funding projects, operations, salaries and other overhead costs. NGO in our portal can register and add
            courses for training programme for women</p>
          <!-- Link -->
          <a [routerLink]="['/ngo']" class="btn btn-md btn-white">Read More</a>

        </div>

      </div>
      <!-- Card Dark -->
    </div>
  </div>
</div>