.ngo-step{
    width: 100%;background: url('../../assets/images/background-legislation.jpg')no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p, li {
    text-align: justify;
    line-height: 1.6em;
}