<div class="accordion ngo-step p-3" id="accordionExample">
	<h2 class="h2-responsive text-center p-3">Frequently Asked Questions (FAQ)</h2><hr>
	<div class="card">
		<div class="card-header">
			<h4 class="h4-responsive p-2">1. What is Women & Child Development?</h4>
		</div>
		<div class="card-body">
			<p>
				The Ministry of Women and Child Development is responsible for overall development of women and
				children in the country. Detailed information about the child development, women development schemes
				and programmes, Integrated Child Protection scheme and details of anti-trafficking activities are
				given. Information about the Food and Nutrition Board and budgeting for gender equity is provided.
				One can also find legislations for protection of women and children rights.
			</p>
		</div>
	</div>
	<br>
	<div class="card">
		<div class="card-header">
			<h4 class="h4-responsive p-2">2. What are the benefits?</h4>
		</div>
		<div class="card-body">
			<p>
				There are various benefits provided by the government for the welfare of women and child
				development. The benefits and various legislations undertaken can be found
			</p>
		</div>
	</div>
	<br>
	<div class="card">
		<div class="card-header">
			<h4 class="h4-responsive p-2">3. What is STEP?</h4>
		</div>
		<div class="card-body">
			<p>
				The Ministry has been administering ‘Support to Training and Employment Programme for Women (STEP)
				Scheme’ since 1986-87 as a ‘Central Sector Scheme’. The STEP Scheme aims to provide skills that give
				employability to women and to provide competencies and skill that enable women to become
				self-employed/entrepreneurs. The Scheme is intended to benefit women who are in the age group of 16
				years and above across the country. The grant under the Scheme is given to an institution/ organisation
				including NGOs directly and not the States/ UTs. The assistance under STEP Scheme will be available in
				any sector for imparting skills related to employability and entrepreneurship, including but not limited
				to the Agriculture, Horticulture, Food Processing, Handlooms, Tailoring, Stitching, Embroidery, Zari
				etc, Handicrafts, Computer & IT enable services along with soft skills and skills for the work place
				such as spoken English, Gems & Jewellery, Travel & Tourism, Hospitality.
			</p>
		</div>
	</div>
</div>