<div class="p-3" id="background">
    <h2 class="h2-responsive text-center p-3">Training Sector Details</h2>
    <div class="card">
        <div class="card-header">
            <h3 class="h3-responsive text-center p-2">Agriculture</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 p-2">
                    <img src="assets/images/agriculture.jpg" />
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 p-2">
                    <div class="course-details">
                        <h4 class="h4-responsive text-center p-2">Course Details</h4>
                        <div class="content">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th>About the course:</th>
                                        <td>Kisan Mitras would be trained resource persons who work with farmers to help
                                            them shift towards agro-ecological approaches to sustain their farming,
                                            organise themselves into producer cooperatives, understand the issues in
                                            public policy and improve the support systems. They will undergo a
                                            foundation course and can specialise in
                                            any of the areas of ecological farming, farmers’ institutions and marketing
                                            or public policy support.
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Qualification: </th>
                                        <td>
                                            Minimal literacy to read and write and communicate in Hindi/English and
                                            experience in working farmers is essentialWe request the organisations to
                                            support the fellows attending this
                                            trainers training. However, we can provide fellowship to people who are
                                            interested but are unable afford.
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Medium of instruction: </th>
                                        <td>
                                            Hindi/English
                                            (Telugu Course would be offered in March, 2019 so people who want to
                                            attend from AP and Telangana need not apply now.
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header">
            <h3 class="h3-responsive text-center p-2">Tailoring</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 p-2">
                    <img src="assets/images/tailoring.jpg" />
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 p-2">
                    <div class="course-details">
                        <h4 class="h4-responsive text-center p-2">Course Details</h4>
                        <div class="content">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th>About the course:</th>
                                        <td>The trainees will be selected from the poor and destitute women of the
                                            society belonging low income group preferably below 40 years of age having
                                            primary knowledge of reading and writing. The trainees will get the stipend
                                            of Rs. 200/- per month. The duration of training is for one year. maximum
                                            number of trainees in each center is 50 (fifty).
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Objective: </th>
                                        <td>
                                            The main object of the scheme is to rehabilitate the poor and destitute
                                            girls and women of the society both economically and socially through the
                                            training in cutting and tailoring and knitting.
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Medium of instruction: </th>
                                        <td>
                                            Hindi/English
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header">
            <h3 class="h3-responsive text-center p-2">Stitching</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 p-2">
                    <img src="assets/images/stitching.jpg" />
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 p-2">
                    <div class="course-details">
                        <h4 class="h4-responsive text-center p-2">Course Details</h4>
                        <div class="content">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th>About the course:</th>
                                        <td>The beauty and expertise that Indians show in stitching and tailoring is
                                            admired by individuals across the globe. Specifically in India, there is a
                                            great diversity in the kinds of clothes people wear- each style is unique in
                                            its own way. Comprehending all these various styles is a challenge; with the
                                            challenge comes a great opportunity.
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Objective: </th>
                                        <td>
                                            To teach the trainees on how to perform stitiching from basic and with time
                                            how can it be improved for the betterment and develop as a skill for earning
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Medium of instruction: </th>
                                        <td>
                                            Hindi/English
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>