<div class="container-fluid p-3" id="policy-container">
    <h2 class="h2-responsive text-center p-3 text-dark">Legislations and Policy</h2><hr>
    <p class="lead text-center">
        There are various legislations and policy incorporated by the government of India for Women and Child Development.
        You can go through these policies by downloading them:
    </p>
    <div class="row">
        <div class="col-ls-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="h3-responsive text-center p-2">Women Legislations</h3>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <th><b>Title</b></th>
                            <th><b>Download</b></th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Compensation Scheme for Women Victims/Survivors of Sexual Assault/other Crimes - 2018</td>
                                <td><a href="assets/women-legislations/Final VC Sheme_0.pdf" download>Download</a></td>
                            </tr>
                            <tr>
                                <td>Letter of Selection of the empanelled organisation to conduct capacity building exercises on Sexual Harassment of Women at Workplace (Prevention, Prohibition and Redressal) Act, 2013</td>
                                <td><a href="assets/women-legislations/Empanlled Institute forwarding letter.pdf" download>Download</a></td>
                            </tr>
                            <tr>
                                <td>Recommended Panel of Institutions organisation for imparting training Programmes/workshops under Sexual Harassment of Women at Workshop (Prevention, Prohibition and Redressal) Act, 2013)</td>
                                <td><a href="assets/women-legislations/empanelled new list.pdf" download>Download</a></td>
                            </tr>
                            <tr>
                                <td>Training Module for Two Day Workshop on Sexual Harassment of Women at Workplace (Prevention, Prohibition And Redressal) Act, 2013</td>
                                <td><a href="assets/women-legislations/ISTM_Training Module To be uploaded.pdf" download>Download</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <div class="col-ls-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="h3-responsive text-center p-2">Child Legislations</h3>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <th><b>Title</b></th>
                            <th><b>Download</b></th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>The REPORT OF THE COMMITTEE For Analysing Data of Mapping and Review Exercise of Child Care Institutions under the Juvenile Justice (Care & protection of Children) Act,2015 and Other Homes Volume-I (Main Report part 1)</td>
                                <td><a href="http://www.wcd.nic.in/sites/default/files/CIF%20Report%201_0.pdf" download>Download</a></td>
                            </tr>
                            <tr>
                                <td>The REPORT OF THE COMMITTEE For Analysing Data of Mapping and Review Exercise of Child Care Institutions under the Juvenile Justice (Care & protection of Children) Act,2015 and Other Homes Volume-I (Main Report part 2)</td>
                                <td><a href="http://www.wcd.nic.in/sites/default/files/CIF%20Report%202_0.pdf" download>Download</a></td>
                            </tr>
                            <tr>
                                <td>The REPORT OF THE COMMITTEE For Analysing Data of Mapping and Review Exercise of Child Care Institutions under the Juvenile Justice (Care & protection of Children) Act,2015 and Other Homes Volume-II (Appendices)</td>
                                <td><a href="http://www.wcd.nic.in/sites/default/files/CIF%20Report_Vol-II_0.pdf" download>Download</a></td>
                            </tr>
                            <tr>
                                <td>State/UT Rules framed under the Prohibition of Child Marriage Act, 2006</td>
                                <td><a href="http://www.wcd.nic.in/sites/default/files/StateUT%20Rules%20framed%20under%20the%20Prohibition%20of%20Child%20Marriage%20Act%2C%202006.pdf" download>Download</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <div class="col-ls-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="h3-responsive text-center p-2">Other Legislation</h3>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <th><b>Title</b></th>
                            <th><b>Download</b></th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>The Immoral Traffic Prevention Amendment Bill, 2006</td>
                                <td><a href="http://www.wcd.nic.in/sites/default/files/640ls.pdf" download>Download</a></td>
                            </tr>
                            <tr>
                                <td>The Infant Milk Substitutes, Feeding Bottles and Infant Foods Regulation of Production, Supply and Distribution Amendment Act, 2003</td>
                                <td><a href="http://www.wcd.nic.in/sites/default/files/IMSamendact2003.pdf" download>Download</a></td>
                            </tr>
                            <tr>
                                <td>Recommended Panel of Institutes or Organizations under sexual harassment of Women at workplace Prevention,Prohibition, and Redressal Act 2013</td>
                                <td><a href="http://www.wcd.nic.in/sites/default/files/Reccomended%20panel%20of%20inst.pdf" download>Download</a></td>
                            </tr>
                            <tr>
                                <td>The sexual harassment of women at workplace Prevention,Prohibition, and Redressal Act 2013</td>
                                <td><a href="http://www.wcd.nic.in/sites/default/files/Sexual-Harassment-at-Workplace-Act.pdf" download>Download</a></td>
                            </tr>
                            <tr>
                                <td>The Juvenile Justice Care and Protection of Children, Act 2011 and Juvenile Justice Care and Protection of Children, Amendment Rules, 2011, notified on 9th Sep 2011 and 26th Dec 2011</td>
                                <td><a href="http://www.wcd.nic.in/sites/default/files/jjact-2011pm.pdf" download>Download</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>