<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#"><strong>STEP</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
      aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/step/guidelines']" title="Guidelines">Guidelines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/step/training']" title="Training">Training Sector</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/step/ngo']" title="NGO's">NGO's</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/step/registration']" title="User Registration">Registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/step/login']" title="Login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<h2 class="h2-responsive text-center p-3">Support to Training and Employment Programme for Women (STEP)</h2>
<p class="p-2 text-justify" id="content">
  The Ministry has been administering ‘Support to Training and Employment Programme for Women (STEP) Scheme’ since
  1986-87 as a ‘Central Sector Scheme’. The STEP Scheme aims to provide skills that give employability to women and to
  provide competencies and skill that enable women to become self-employed/entrepreneurs. The Scheme is intended to
  benefit women who are in the age group of 16 years and above across the country. The grant under the Scheme is given
  to an institution/ organisation including NGOs directly and not the States/ UTs. The assistance under STEP Scheme will
  be available in any sector for imparting skills related to employability and entrepreneurship, including but not
  limited to the Agriculture, Horticulture, Food Processing, Handlooms, Tailoring, Stitching, Embroidery, Zari etc,
  Handicrafts, Computer & IT enable services along with soft skills and skills for the work place such as spoken
  English, Gems & Jewellery, Travel & Tourism, Hospitality.
</p>
<h2 class="text-center h2-responsive p-3">Training Sectors for Women</h2>
<div class="container-fluid">
  <div class="row p-3">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="view overlay text-center">
        <img class="card-img-top rounded mx-auto d-block p-2" src="assets/images/agriculture-icon.png" alt="Agriculture">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <div class="card">
        <div class="card-body elegant-color white-text rounded-bottom">

          <!-- Social shares button -->
          <a class="activator waves-effect mr-4"><i class="fas fa-share-alt white-text"></i></a>
          <!-- Title -->
          <h4 class="card-title">Agiculture</h4>
          <hr class="hr-light">
          <!-- Text -->
          <p class="card-text white-text mb-4">Agriculture is the science and art of cultivating plants and livestock.
            Agriculture was the key development in the rise of sedentary human civilization, whereby farming of
            domesticated species created food surpluses that enabled people to live in cities.</p>
          <!-- Link -->
          <a [routerLink]="['/step/training']" class="btn btn-md btn-white">Read More</a>

        </div>
      </div>
    </div>
    <br>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="view overlay text-center">
        <img class="card-img-top rounded mx-auto d-block p-2" src="assets/images/tailoring-icon.png" alt="Tailoring">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <div class="card">
        <div class="card-body elegant-color white-text rounded-bottom">

          <!-- Social shares button -->
          <a class="activator waves-effect mr-4"><i class="fas fa-share-alt white-text"></i></a>
          <!-- Title -->
          <h4 class="card-title">Tailoring</h4>
          <hr class="hr-light">
          <!-- Text -->
          <p class="card-text white-text mb-4">Tailors can specialize in alterations or in sewing custom garments. Those
            who do alterations ensure that clothes fit customers properly. They make changes to garments, such as
            hemming pants to make them shorter or taking in seams to make clothing smaller.</p>
          <!-- Link -->
          <a [routerLink]="['/step/training']" class="btn btn-md btn-white">Read More</a>

        </div>
      </div>
    </div>
    <br>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="view overlay text-center">
        <img class="card-img-top rounded mx-auto d-block p-2" src="assets/images/stitching-icon.png" alt="Stitching">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <div class="card">
        <div class="card-body elegant-color white-text rounded-bottom">
          <!-- Social shares button -->
          <a class="activator waves-effect mr-4"><i class="fas fa-share-alt white-text"></i></a>
          <!-- Title -->
          <h4 class="card-title">Stitching</h4>
          <hr class="hr-light">
          <!-- Text -->
          <p class="card-text white-text mb-4">A complete movement of a threaded needle through a fabric or material
            such as to leave behind it a single loop or portion of thread, as in sewing, embroidery, or the surgical
            closing of wounds.Sewing is the craft of fastening or attaching objects.
          </p>
          <!-- Link -->
          <a [routerLink]="['/step/training']" class="btn btn-md btn-white">Read More</a>

        </div>
      </div>
    </div>
  </div>
</div>