<style type="text/css">
  *{
      font-family: Arial, Helvetica, sans-serif;
      margin:0;
      padding: 0;
  }

  footer{
  	font-weight: 200
  }
</style>
<footer class="page-footer unique-color-dark bg-dark">

    <!-- Social buttons -->
    <div class="blue-grey">
      <div class="container">
        <!--Grid row-->
        <div class="row py-3 d-flex align-items-center">
          <!--Grid column-->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0 white-text" style="font-weight: 400">Get connected with us on social networks!</h6>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6 col-lg-7 text-center text-md-right">
            <!--Facebook-->
            <a class="fb-ic" href="https://instagram.com/khadipremium">
              <i class="fa fa-facebook white-text mr-3"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic" href="https://instagram.com/khadipremium">
              <i class="fa fa-instagram white-text mr-3"> </i>
            </a>
            <!-- Youtube -->
            <a href="https://www.youtube.com/" target="_blank">
                <i class="fa fa-youtube white-text mr-3"></i>
            </a>
          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->
      </div>
    </div>
    <!-- Social buttons -->

    <!-- Footer Links -->
    <div class="container mt-5 mb-4 text-center text-md-left">
      <div class="row mt-3">
        <!--First column-->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-4">
          <h6 class="text-uppercase font-weight-bold">
            <strong>Who We Are</strong>
          </h6>
          <hr class="blue-grey accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="">About Us</a>
          </p>
          <p>
            <a href="">Blog</a>
          </p>
          <p>
            <a href="">Contact Us</a>
          </p>
        </div>
        <!--/.First column-->

        <!--Second column-->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold">
            <strong>Know more</strong>
          </h6>
          <hr class="blue-grey accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a [routerLink]="['/ngo']">NGO's</a>
          </p>
          <p>
            <a [routerLink]="['/step']">STEP</a>
          </p>
          <p>
            <a [routerLink]="['/legislation']">Legislations & Policy</a>
          </p>
        </div>
        <!--/.Second column-->

        <!--Third column-->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold">
            <strong>Useful links</strong>
          </h6>
          <hr class="blue-grey accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="">Help</a>
          </p>
          <p>
            <a [routerLink]="['/faq']">FAQ</a>
          </p>
          <p>
            <a href="">Terms and Conditions</a>
          </p>          
        </div>
        <!--/.Third column-->

      </div>
    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">&copy; 2018 Copyright:
      <a href=""> Ministry of Women and Child Development</a> developed and maintained by <a href="">Larsen & Toubro Infotech</a>
    </div>
    <!-- Copyright -->

  </footer>