<div class="container-fluid" id="registration-step">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-2">
            <div class="card">
                <div class="card-header">
                    <h4 class="h4-responsive text-center p-2">What are the training courses for?</h4>
                </div>
                <div class="card-body">
                    <ul type="disc">
                        <li>The training course provided by an NGO will be provided to the user who registers for our STEP programme</li>
                        <li>These courses are primarily for women who want to start earning from themselves and work independently to support their family and their future</li>
                        <li>The courses provided by an NGO will act as a skill development for all the hard working women.</li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header">
                    <h4 class="h4-responsive text-center p-2">Why should we register?</h4>
                </div>
                <div class="card-body">
                    <ul type="disc">
                        <li>In principle, an NGO does not have to register itself to perform charitable, welfare or
                            developmental activities.</li>
                        <li>There are some specific types of activities that can only be carried out if the NGO is
                            registered under the country's specific acts or laws governing NGOs (particularly
                            related to fund-raising).</li>
                        <li>Due to obligations required of a registered NGO, the registration process leads to the
                            development of systematic thinking and functioning of NGOs.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-2">
            <div class="register">
                <form #mform="ngForm" (ngSubmit)="add(mform)" name="step-form" class="form table-responsive"
                    ngNativeValidate>
                    <h3 class="h3-responsive text-center p-3">Add Training Courses</h3>
                    <p class="text-center red-text">All fields marked with * are mandatory</p>
                    <table class="table table-striped table-condensed">
                        <tbody class="md-form">
                            <tr>
                                <th>Course Provided <span class="text-danger">*</span></th>
                                <td>
                                    <select name="coursename" [(ngModel)]="course.courseName" required>
                                        <option value="agriculture">Agriculture</option>
                                        <option value="tailoring">Tailoring</option>
                                        <option value="stiching">Stiching</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>Duration (in months) <span class="text-danger">*</span></th>
                                <td>
                                    <input [(ngModel)]="course.duration" type="number"
                                        placeholder="Enter Duration(in months)" name="duration" required>
                                </td>
                            </tr>
                            <tr>
                                <th>Description <span class="text-danger">*</span></th>
                                <td>
                                    <textarea [(ngModel)]="course.description" type="text" name="description"
                                        required></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th>NGO Name <span class="text-danger">*</span></th>
                                <td>
                                    <input [(ngModel)]="course.ngoName" type="text"
                                        placeholder="Enter the name of the NGO" name="ngoName" required>
                                </td>
                            </tr>
                            <tr>
                                <th>Location <span class="text-danger">*</span></th>
                                <td>
                                    <input [(ngModel)]="course.location" type="text"
                                        placeholder="Enter the name of the NGO" name="ngoName" required>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td><button type="submit" class="btn btn-success btn-md">Register this course</button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<h1 class="h1-responsive text-center text-success p-2">{{response}}</h1>