<div class="container-fluid" id="registration-step">
    <h2 class="h2-responsive text-center p-3">Criteria for Non-Governmental Organization (NGO) Registration</h2>
    <div class="p-3" id="content">
        <p>
            According to the provisions of Societies Registration Act, 1860, minimum seven or more adult persons can
            form a
            Society. For a national level Society eight persons from seven different states would be required as
            promoters.
            An authorised person from among the promoters must apply to concerning register with preferably three
            alternatives names of the proposal Society so as to avoid any inconvenience if the envisaged name has
            already
            been allotted to some other Society. Individuals (excluding minors but including foreigners), partnership
            firms,
            companies and registered societies are eligible to form a Society.
        </p>
        <p>
            For a registration of a Society two documents are required, viz. Memorandum of Association and Rules and
            Regulations. The Memorandum should contain name, registered office, area of operation, objects, name of
            members
            of governing body and names of promoters. The Rules and Regulations should include all the provisions that
            would
            regulate functioning of the proposed Society; it comprise membership, powers and responsibilities of
            office-bearers, meetings, quorum of meetings, termination of membership, operation of bank account and
            financial
            year, procedure of dissolution or merger of Society if so required, and other general rules required and
            manage
            the society.
        </p>
        <p>
            A well-drafted (if required help of a legal expert should be taken) Memorandum and Rules and Regulations of
            the
            proposed Society should be signed by all the promoters (The should make signature on all the pages of the
            documents) and witness and attested by Oath Commissioner / Notary Public / Gazetted
            officer/Advocate/Chartered
            Accountant/First Clean Magistrate. For the purpose of registration the following documents are required to
            be
            filed with the registration of Societies:
        </p>
        <ol type="a">
            <li>Covering letter signed by the authorized person.</li>
            <li>Memorandum of Association, in duplicate.</li>
            <li>Rules and Regulations/Bye-laws, in duplicate.</li>
            <li> An affidavit of the President/Secretary on a non-judicial stamp paper of prescribed value, stating the
                relationship between the subscribers/ promoters, duly attested by an Oath Commissioner/Notary Public or
                First Class Magistrate. </li>
        </ol>
        <p>
            If the registrar is satisfied with the documents filed, he than requires the applicant with documents filed,
            he
            then requires the applicant to deposit the registration fee, normally it is Rs. 50, payable in case or by
            demand
            draft. On completion of all the formalities the Registrar issues a certificate of al the formalities the
            Registrar issues a certificate of registration and copies of the Memorandum and Rules & Regulations
            certified in
            his hand.
        </p>
    </div>
</div>