<div class="container">
    <form #mform="ngForm" (ngSubmit)="add(ngoform)" class="form table-responsive">
        <h3 class="h3-responsive text-center p-3">NGO Registration</h3>
        <p class="text-center red-text">All fields marked with * are mandatory</p>
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <th><b>Name*</b></th>
                    <td><input [(ngModel)]="registration.name" name="name" pattern="[A-Za-z]" placeholder="Name" title="Enter only alphabets"/></td>
                </tr>
                <tr>
                    <th><b>UserName*</b></th>
                    <td><input [(ngModel)]="registration.username" name="username" pattern="[A-Za-z]" placeholder="Enter Your Username" title="Enter only alphabets"/></td>
                </tr>
                <tr>
                    <th><b>Password*</b></th>
                    <td><input [(ngModel)]="registration.password" name="password" type="password" placeholder="Enter Your Password" /></td>
                </tr>
                <tr>
                    <th><b>ConfirmPassword*</b></th>
                    <td><input [(ngModel)]="registration.confirmPassword" name="confirmPassword" type="password" placeholder="Re-Enter Your Password" /></td>
                </tr>
                <tr>
                    <th><b>Address*</b></th>
                    <td><textarea [(ngModel)]="registration.address" name="address"></textarea></td>
                </tr>
                <tr>
                    <th><b>Organization Type*</b></th>
                    <td><input [(ngModel)]="registration.organizationType" name="orgType"/></td>
                </tr>
                <tr>
                    <th><b>Contact No*</b></th>
                    <td><input [(ngModel)]="registration.contactNo" name="contactNo" /></td>
                </tr>
                <tr>
                    <th><b>Project in Charge*</b></th>
                    <td><input [(ngModel)]="registration.projectInCharge" name="projectInCharge" /></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td><input type="submit" value="Submit" class="btn btn-md btn-success" /></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </form>
</div>
<h3 class='text-center text-success p-2'> {{ response }} </h3>